@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.upload-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.select-file-btn {
  background-color: blue;
  color: white;
}

.upload-file-btn {
  background-color: red;
  color: white;
}

.container {
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-head {
  padding: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.pagination {
  margin-top: 20px;
  justify-content: flex-end;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
}